* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://wallpaperaccess.com/full/6798923.jpg');
    background-size: contain;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: grey;
    height: 40px;
    color: white;
    padding: 10px 50px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

section > button {
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    border: 3px solid white;
    background-color: green;
    border-radius: 10px;
    color: white;
    font-weight: 700;

}

section > button:hover {
    box-shadow: 0px 0px 5px 5px white;
}
section > button:active {
    background-color: white;
    color: green;
    border: 3px solid green;
}
main > div {
    border: 3px solid white;
    background-color: transparent;
    text-align: center;
    margin: 20px 40px;
    width: 250px;
    border-radius: 50px;
    overflow: hidden;
}
div > p {
    color: white;
    font-weight: 700;
    margin: 10px 20px;
    padding: 10px 40px;
    background-color: green;
    border-radius: 50px;
    border: 3px solid white;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div:hover {
    background-color: black;
    box-shadow: 0px 0px 10px 5px white;
}

div > button {
    background-color: white;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid green;
    margin: 10px 20px;
    font-weight: 700;
}

div > button:hover{
    background-color: green;
    border: 3px solid white;
    color: white;
    position: relative;
    top: -5px;
    cursor: pointer;

}

img {
    width: 100%;
    border-radius: 50px;
}

img:hover {
    position: relative;
    transform: scale(1.1);
    top: -10px;
}

.single{
    margin-top: 10px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 50px;
    width: 350px;
}
.single:hover {
    background-color: black;
}

.single h1, .single > button {
    border: 3px solid white;
    padding: 10px ;
    color: white;
    background-color: green;
    border-radius: 50px;
    margin: 20px 10px;
    font-size: large;
}

.single h1:hover,.single > button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    position: relative;
    animation: anim 0.25s linear 0s 1 normal forwards;
 
}

.single img {
    border: 3px solid white;
}

.eps {
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px;
    overflow: scroll;
}

.eps > p {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
    border: none;
    min-height: 40px;

}




@keyframes anim {
    from {
        margin-right: 20px;
        margin-left: 20px;
    }
    to {
        margin-right: 50px;
        margin-left: 50px;
    }
}